#freeChat{
  background: #ffffff;
  width: fit-content;
  padding: 0px 0.5em;
  border-radius: 25px 12px;
}
.inputFields-join:focus{
  outline: none !important;
  
}
#messages{
  overflow-y: scroll;
  height: 85vh;
}
#chat-window {
    height: 85vh;
    position: absolute;
    bottom: 50px;
    width: 55vw;
    background: #f3f1ee;
    /* overflow-y: auto; */
    margin-left: 250px;
    padding-left: 20px;
    border-radius: 25px 25px 0px 0px;
    padding-top: 15px;
  }
  #buttonAndTextField {
    position: absolute;
    display: inline-flex;
    bottom: 2px;
    gap:10px;
  }  
  textarea{
    width: 37vw;
    margin-left: 250px;
    resize: none;
    position: relative;
    bottom: -14px;
  }
  textarea:focus{
    outline: none !important;
    border:1px solid rgb(0, 149, 99);
    box-shadow: 0 0 10px #00cbff;
  }
  .chat-message {
    max-height: fit-content;
    max-width: 450px;
    background: white;
    border-radius: 8px;
    padding: 3px;
    margin: 3px 0px;

  }
  .createdAt {
    color: grey;
  }
  .button-34 {
    display: inline;
    background: #5E5DF0;
    border-radius: 999px;
    box-shadow: #5E5DF0 0 10px 20px -10px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
    }
    .button-34:hover{
      background: rgb(113, 230, 113);
    }
    body{
      background: rgba(30, 215, 166, 0.389);
    }
    #join-form {
      display: grid;
      row-gap: 20px;
    }
    .centered-form {
        height: 300px;
        background-color: #3f3e3e;
        position: absolute;
        top: 0;
        bottom: 0;
        color: white;
        left: 0;
        right: 0;
        margin: auto;
        padding: 40px;
        width: 220px;
        display: grid;
        grid-column: 10px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .centered-form__box {
        position: absolute;
        right: 40px;
        left: 40px;
        top: 10px;
        bottom: 20px;
    }
    .inputFields-join {
      height: 40px;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      padding: 2px;
    }
     .inputFields-join.button{
      background: rgb(0, 255, 225);
      color: rgb(255, 255, 255);
      font-size: larger;
      font-weight:bolder;
    }
.username {
    margin: 5px 0px 5px 0px;
    background: #c3c3fa;
    width: fit-content;
    padding: 0px 0.5em;
    border-radius: 25px 12px;
}
#buttonAndTextFieldForm{
  display: inline;
  position: relative;
  bottom: -14px;
}
