#chat-window {
    height: 85vh;
    position: absolute;
    bottom: 50px;
    width: 90vw;
    background: #f3f1ee;
    overflow-y: auto;
  }
  #buttonAndTextField {
    position: absolute;
    display: inline-flex;
    bottom: 2px;
    gap:10px;
  }  
  textarea{
    width: 75vw;
  }
  #chat-message {
    max-height: fit-content;
    border: #45b7a2 2px solid;
    max-width: 450px;
    background: white;
    border-radius: 8px;
    padding: 3px;
  }
  .createdAt {
    color: grey;
  }
  .button-34 {
    background: #5E5DF0;
    border-radius: 999px;
    box-shadow: #5E5DF0 0 10px 20px -10px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
    }
    .button-34:hover{
      background: rgb(113, 230, 113);
    }
    body{
      background: grey;
    }